<form>
  <input class="form-control" name="name" placeholder="Who do you want to cheer?"/>
  <input class="form-control" name="to" placeholder="What is their phone number?"/>
  <input class="btn btn-default" type="submit" value="Submit">
</form>

