<form method="POST">
  <div class="form-group">
    <input class="form-control" name="name" placeholder="Who do you want to cheer?"/>
  </div>
  <div class="form-group">
    <input class="form-control" name="to" placeholder="What is their phone number?"/>
  </div>
  <input class="btn btn-default" type="submit" value="Submit">
</form>

