<form method="POST">
  <div class="form-group">
    <input class="form-control" name="name" placeholder="Who do you want to cheer?"/>
  </div>
  <div class="form-group">
    <input class="form-control" name="to" placeholder="What is their phone number?"/>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" name="call"> Call the person? (or text them)
    </label>
  </div>
  <input class="btn btn-default" type="submit" value="Submit">
</form>

