<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>You are awesome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,300,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/app.css" type="text/css" />

  </head>

  <body>
    <h1>Remind to someone they are awesome.</h1>
    <div class="container">
      <%= yield %>
    </div>
    <footer>Fork me because <a href="https://github.com/ys/you-are-awesome">You are awesome</a></footer>
  </body>

</html>
